{# templates/event/list.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Liste des Événements{% endblock %}

{% block content %}
<div class="text">Liste des événements</div>
<p>Vue listant tous les événements avec options de filtrage.</p>
{% endblock %}
